.codos {
    width: 15vh;
    height: 7,5vh;
}

.gris {
    background-color: rgb(58, 61, 65);
}

.bs1 {
    position: relative;
    display: inline-block;            
}

.texto-encima {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: right;
    width: 50vw;
    height: 45vw;
}

.ora {
    height: 50vw;
    width: 79vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.font {
    font-size: 10px;
}

.verde {
    background-color: rgb(49, 221, 14);
}

.fonte {
    font-size: 12px;
}

.mar {
    margin-bottom: -16px;
    font-size: 14px;
}

.mbo {
    margin-bottom: -22px;    
}

.pequeña {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.petroleo {
    background-color: rgb(6, 94, 94);
}

.name {
    font-size: 14px;
}